# Spivot Backend

## Dependencies
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
*.so
.eggs/
*.egg-info/
*.egg

## Environment
.env
.env.local
.env.*.local

## IDE
.idea/
.vscode/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Testing
.pytest_cache/
.coverage
htmlcov/
.aws-sam/
